/* 반응형 대비 최소제한 너비 설정 */
header, main {min-width:900px;}
/* header */
header {
    /* background:aqua; */
    position:fixed; left:0; top:0; width:100%; z-index:999;
    padding:45px 30px 0 30px;
}
header nav {
    border-top:2px solid #000;
    border-bottom:5px solid #000;
    padding:15px 0 17px;
    display:flex; justify-content: space-between;
}
header nav .gnb {}
header nav .gnb a {
    margin-right:40px; font-size:1.375rem;
}
header nav a:hover {color:#9361FF;}
header nav .sns {}
header nav .sns span {
    font-family: 'Marck Script', cursive;
    font-size:1.750rem;
}
/* home */
main {/* background:lime; */}
main > * {padding:0 30px;}
main #home {
    background:#EFEFEE;
    height:100vh; text-align:center; padding-top:220px;
}
main #home h1 {}
main #home h1 img {}
main #home .mouse {
    position: absolute; left:50%; bottom:70px;
    transform:translateX(-50%);
}
main #home .mouse img {animation:mouse_move 1s linear alternate infinite;}
@keyframes mouse_move {
    0% {transform:translateY(0);}
    100% {transform:translateY(-30px);}
}
/* skill */
main #skill {background:#EFEFEE; padding-top:100px;}
main #skill h1 {
    font-size:3.75rem; font-weight:700;
    padding:76px 0 23px;
    border-bottom:2px solid #000;
    margin-bottom: 60px;
}
main #skill .container {
    /* background:yellow; */
    height:739px;
    display:flex; flex-flow:column wrap; /* 스킬 9개 수직 줄바꿈 배치하는 flex */
    align-content:space-between;
}
main #skill .container li {
    /* background:lime; */
    width:45%; 
    display:flex; flex-flow:row nowrap; /* 아이콘, 글자 옆으로 배치하는 flex */
    border-bottom:1px dashed #000;
    margin-bottom: 35px;
    padding-bottom: 35px;
}
main #skill .container li .icon {width:75px;}
main #skill .container li .icon img {}
main #skill .container li .contents {
    width: calc(100% - 75px);
    font-size:1.438rem; font-weight:500;
    line-height:32px; letter-spacing:-0.02em;
}
/* profile */
main #profile {
    background:#EFEFEE; 
    padding-bottom:100px; padding-top:100px;
}
main #profile h1 {text-align:center; margin-bottom:140px;}
main #profile h1 img {}
main #profile .container {
    display:flex; flex-flow:row nowrap;
    justify-content: center;
}
main #profile .container .photo {width:358px;}
main #profile .container .photo img {}
main #profile .container .info {letter-spacing:-0.02em}
main #profile .container .info h2 {
    font-size:2.5rem; font-weight:700;
}
main #profile .container .info h3 {
    font-size:1.5rem; margin:18px 0 38px;
}
main #profile .container .info .career {}
main #profile .container .info .career p {font-size:1.563rem; line-height:34px;}
main #profile .container .info .career p em {font-size:1.25rem;}
main #profile .container .info > p {
    font-size:1.563rem; line-height: 34px;
    margin-top:55px;
}
/* project_web1 */
main #project_web1 {
    padding-top:100px; padding-bottom:100px; 
    /* text-align:center; */
}
main #project_web1 h1 {
    font-size:3.125rem; font-weight:700; letter-spacing:-0.02em;
    padding-bottom:31px; text-align: center;
    transform:translateX(100px);
}
main #project_web1 .link {
    display:flex; justify-content: center;
}
main #project_web1 .link a {
    font-size:1.438rem; padding:25px 20px;
}
main #project_web1 .link a:first-child {
    background:#9361FF; color:#fff; border-radius:10px;
}
main #project_web1 .link a:nth-child(2) {margin:0 25px;}
main #project_web1 .link a:nth-child(2),
main #project_web1 .link a:last-child {
    background:#000; color:#fff; border-radius:10px;
}
main #project_web1 .link a:hover {
    /* filter: brightness(120%) contrast(150%); */
    background: rgba(0,0,0,0.5);
}
main #project_web1 .project_info {
    margin:40px 0; 
}
main #project_web1 .project_info p {
    font-size:1.563rem; line-height: 34px;
    letter-spacing:-0.02em; 
}
main #project_web1 .preview {text-align:center;}
main #project_web1 .preview img {}